
<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span>Welcome</span>
</div>

<div class="content" role="main">

    <!-- Resources -->
    <h2>Socials</h2>
  
    <div class="card-container">
      
      <a class="card py-4" target="_blank" rel="noopener" [routerLink]="['/linkedin']">
        <i class="fa fa-linkedin-square px-2" id="linkedin-logo" aria-hidden="true"></i>
        <span>Linkedin</span>
      </a>
  
      <a class="card py-4" target="_blank" rel="noopener" [routerLink]="['/facebook']">
        <i class="fa fa-facebook-square px-2" id="facebook-logo"  aria-hidden="true"></i>
        <span>Facebook</span>
      </a>
  
    </div>
  
  </div>
  